{% from "_includes/forms" import textfield %}
{% from "_includes/forms" import  checkboxField %}

<div class="verbatim">
	{{textfield({
		id: 'searchContainer',
		name: 'searchContainer',
		value: settings['searchContainer'],
		label: 'Search Container',
		size: 30
	})}}

	{{textfield({
		id: 'animationSpeed',
		name: 'animationSpeed',
		value: settings['animationSpeed'],
		label: 'Speed of Scrolling Animation',
		size: 30
	})}}

	{{textfield({
		id: 'animationSpeed',
		name: 'animationSpeed',
		value: settings['animationSpeed'],
		label: 'Speed of Scrolling Animation',
		size: 30
	})}}

	{{textfield({
		id: 'scrollingOffset',
		name: 'scrollingOffset',
		value: settings['scrollingOffset'],
		label: 'Amount of Offset in Pixels',
		size: 30
	})}}

	{{textfield({
		id: 'addedClass',
		name: 'addedClass',
		value: settings['addedClass'],
		label: 'CSS Class to Add to Found Elements',
		size: 30
	})}}

	{{textfield({
		id: 'highlightedClass',
		name: 'highlightedClass',
		value: settings['highlightedClass'],
		label: 'CSS Class To Add To Highlighted Elements',
		size: 30
	})}}

	{{textfield({
		id: 'highlightColor',
		name: 'highlightColor',
		value: settings['highlightColor'],
		label: 'Default Color of Highlights',
		size: 30
	})}}

	{{textfield({
		id: 'selectedClass',
		name: 'selectedClass',
		value: settings['selectedClass'],
		label: 'CSS Class to Add To Selected Text When Copying Link',
		size: 30
	})}}

	{{textfield({
		id: 'buttonClass',
		name: 'buttonClass',
		value: settings['buttonClass'],
		label: 'CSS Class to Add To Copy Link Button',
		size: 30
	})}}

	{{textfield({
		id: 'bitlyToken',
		name: 'bitlyToken',
		value: settings['bitlyToken'],
		label: 'Add Bitly Token to Enable Short Links',
		size: 30
	})}}

	{% set checked = "" %}
	{% if settings.highlightParent == "true" %}
		{% set checked = "checked" %}
	{% endif %}

	{{checkboxField({
		id: 'highlightParent',
		name: 'highlightParent',
		value: "true",
		label: 'Highlight Parent Element',
		checked: checked
	})}}

	{% set checked = "" %}
	{% if settings.defaultStyling == "true" %}
		{% set checked = "checked" %}
	{% endif %}

	{{checkboxField({
		id: 'defaultStyling',
		name: 'defaultStyling',
		value: "true",
		label: 'Enable Default Styling',
		checked: checked
	})}}

	{% set checked = "" %}
	{% if settings.animated == "true" %}
		{% set checked = "checked" %}
	{% endif %}

	{{checkboxField({
		id: 'animated',
		name: 'animated',
		value: "true",
		label: 'Enable Amimated Scrolling To Content',
		checked: checked
	})}}

	{% set checked = "" %}
	{% if settings.allowImages == "true" %}
		{% set checked = "checked" %}
	{% endif %}

	{{checkboxField({
		id: 'allowImages',
		name: 'allowImages',
		value: "true",
		label: 'Allow Images',
		checked: checked
	})}}
</div>
